
    <div class="sticky">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <div class="line"></div>
    </div>

    <div class="profileBox">
        <div class="profileBoxInfo">
            <p>Nombre: {{user.first_name}}</p>
            <p>Apellido: {{user.last_name}}</p>
            <p>eMail: {{user.email}}</p>

        </div>
        <div class="profileImg">

        </div>
    </div>




